<h2 class="questions__question-count">{{qNum}} of {{quizLength}}</h2>

<p class="questions__question-text">{{question}}</p>

<p class="questions__question-choice">
  <input type="radio" name="choices" id="choice-0" class="questions__question-choice--radio" value="0" />
  <label for="choice-0" class="questions__question-choice--label">{{choices.[0]}}</label>
</p>
<p class="questions__question-choice">
  <input type="radio" name="choices" id="choice-1" class="questions__question-choice--radio" value="1" />
  <label for="choice-1" class="questions__question-choice--label">{{choices.[1]}}</label>
</p>
<p class="questions__question-choice">
  <input type="radio" name="choices" id="choice-2" class="questions__question-choice--radio" value="2" />
  <label for="choice-2" class="questions__question-choice--label">{{choices.[2]}}</label>
</p>
<p class="questions__question-choice">
  <input type="radio" name="choices" id="choice-3" class="questions__question-choice--radio" value="3" />
  <label for="choice-3" class="questions__question-choice--label">{{choices.[3]}}</label>
</p>
