<h2 class="questions__question-title">{{qNum}} of {{quizLength}}</h2>

<p class="questions__question-text">{{question}}</p>

<p class="questions__question-choice">
  <input type="radio" name="choices" id="choice1" value="0" />
  <label for="choice1" class="questions__question-choice--label">{{choices.[0]}}</label>
</p>
<p class="questions__question-choice">
  <input type="radio" name="choices" id="choice2" value="1" />
  <label for="choice2" class="questions__question-choice--label">{{choices.[1]}}</label>
</p>
<p class="questions__question-choice">
  <input type="radio" name="choices" id="choice3" value="2" />
  <label for="choice3" class="questions__question-choice--label">{{choices.[2]}}</label>
</p>
<p class="questions__question-choice">
  <input type="radio" name="choices" id="choice4" value="3" />
  <label for="choice4" class="questions__question-choice--label">{{choices.[3]}}</label>
</p>
