<h2 class="questions__question-title">{{qNum}} of {{quizLength}}</h2>

<p class="questions__question-text">{{question}}</p>

<p class="questions__question-choice">
  <input type="radio" name="choices{{setNum}}" id="choice{{setNum}}-1" value="0" />
  <label for="choice{{setNum}}-1" class="questions__question-choice--label">{{choices.[0]}}</label>
</p>
<p class="questions__question-choice">
  <input type="radio" name="choices{{setNum}}" id="choice{{setNum}}-2" value="1" />
  <label for="choice{{setNum}}-2" class="questions__question-choice--label">{{choices.[1]}}</label>
</p>
<p class="questions__question-choice">
  <input type="radio" name="choices{{setNum}}" id="choice{{setNum}}-3" value="2" />
  <label for="choice{{setNum}}-3" class="questions__question-choice--label">{{choices.[2]}}</label>
</p>
<p class="questions__question-choice">
  <input type="radio" name="choices{{setNum}}" id="choice{{setNum}}-4" value="3" />
  <label for="choice{{setNum}}-4" class="questions__question-choice--label">{{choices.[3]}}</label>
</p>
